* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: Tahoma;
    background: #111;
    color: #eee;
    background-color: #111;
    color: #eee;
}

h1{
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
}
.card:hover { transform: scale(1.05s); }

.card img { width: 100%; height: 250px; object-fit: cover; }

.card h3 { padding: 0.5rem; text-align: center; }

.hidden { display: none; }

/*=============================MODAL========================================== */

#modal {
    position: fixed; inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal.hidden {
    display: none;
}

.modal-content {
    position: relative;
    background: #222; color: #eee;
    padding: 1rem; border-radius: 8px;
    max-width: 600px; width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
}

#modal-img {
    width: auto ;
    height: auto ;
    max-width: 90vw;
    max-height: 60vh; 
    object-fit: contain;
    border-radius: 6px;
}

#modal-img.vertical {
    max-width: 45vw;
}

#fechar { 
    position: absolute; top: 8px; right: 12px;
    cursor: pointer; font-size: 1.4rem;
    z-index: 3;
}

header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#filtroBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin: 1rem 0;
}

#busca {
    padding: 0.6rem 1rem; 
    border: none; 
    border-radius: 8px; 
    font-size: 1rem; 
    max-width: 320px; 
    background: #222;
    color: #eee;
}

#botaoFiltros {
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    border: none;
    background: #444;
    color: #eee;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.25s ease;
}

#botaoFiltros:hover {
    background: #555;
}

#botaoFiltros.aberto {
    background: #666;
}

#painelFiltros {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
#painelFiltros.aberto {
    max-height: 500px;
}
#painelFiltros select {
    background: #222;
    color: #eee;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #222;
    color: #eee;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

select:hover,
select:focus {
    outline: none;
    box-shadow: none;
    border-color: #666;
    background-color: #333;
    color: #eee;
}


/*======================== Formulario =====================================*/

#authArea { background-color: #222;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    width: 100%;
    max-width: 400px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#authArea h2 { margin-bottom: 1.5rem;
    text-align: center;
}

form { display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input { padding: 0.8rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: #eee;
    font-size: 1rem;
}
form input:focus { outline: none;
    border-color: #888;
    background-color: #222;
}

form button { padding: 0.8rem;
    background-color: #666;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    transition: background 0.3s;
}

form button:hover { background-color: #444;
}

authMsg { margin-top: 1rem;
    text-align: center;
    color: #f55;
}

#container { display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

/*======================== PERFIL DO USUARIO ===============================*/

#perfilFoto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
    display: block;
}

#logoutBotao { padding: 0.6rem 1rem;
    background-color: #555;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #c0392b;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background 0.3s ease;    
}

#logoutBotao:hover { background-color: #333;}